.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  background-color: rgb(28, 114, 85);
  color:whitesmoke;
  padding: 20px;
}

h2, h3{
  color:rgb(28, 114, 85);
  padding:20px;
}

input, button, select{
  padding:5px;
  margin: 10px;
  border-radius: 5px;
  border: solid 1px rgb(28, 114, 85);
}

button{
  background-color: rgb(28, 114, 85);
  color:whitesmoke;
}

input::placeholder, select::placeholder, select{
  color: rgb(28, 114, 85);
}

form{
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

input, select, button{
  width: 100%;
}

.destinos{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.destinos button{
  width: 5%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;  
}

.link{
  color: rgb(28, 114, 85);
  position: fixed;
  top: 100px;
  left: 10px; 
  padding: 10px;
}